@{
    ViewBag.Title = "Index";
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
}
@Scripts.Render("~/bundles/test")
<script src="@Url.Action("CategorySpryJson", "CategoriesSpry")" type="text/javascript"></script>
<script>
    var baseurl = "@baseUrl"+"test/";
</script>
<h2></h2>
<div>
    <div class="list-group f_cateList" data-bind="foreach: ko_array_url">
        <a href="javascript:void(0);" class="list-group-item f_index_li" data-bind="text: title, attr:{ id: ID }"></a>
    </div>
</div>
<script src="~/Scripts/test/index.js"></script>

