/*===============Common===============*/
/*Grids*/
.line, .lastUnit {
	overflow: hidden;
*overflow:visible;
*zoom:1;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of1 {
	float: none;
}
.size1of2 {
	width: 50%;
}
.size1of3 {
	width: 33.33333%;
}
.size2of3 {
	width: 66.66666%;
}
.size1of4 {
	width: 25%;
}
.size3of4 {
	width: 75%;
}
.size1of5 {
	width: 20%;
}
.size2of5 {
	width: 40%;
}
.size3of5 {
	width: 60%;
}
.size4of5 {
	width: 80%;
}
.sizeFull {
	width: 100%;
}
.lastUnit {
	float: none;
	width: auto;
	_position: relative;
	_left: -3px;
	_margin-right: -3px;
}
/*spacing*/
.ptn, .pvn, .pan {
	padding-top: 0px !important
}
.pts, .pvs, .pas {
	padding-top: 5px !important
}
.ptm, .pvm, .pam {
	padding-top: 10px !important
}
.ptl, .pvl, .pal {
	padding-top: 20px !important
}
.prn, .phn, .pan {
	padding-right: 0px !important
}
.prs, .phs, .pas {
	padding-right: 5px !important
}
.prm, .phm, .pam {
	padding-right: 10px !important
}
.prl, .phl, .pal {
	padding-right: 20px !important
}
.pbn, .pvn, .pan {
	padding-bottom: 0px !important
}
.pbs, .pvs, .pas {
	padding-bottom: 5px !important
}
.pbm, .pvm, .pam {
	padding-bottom: 10px !important
}
.pbl, .pvl, .pal {
	padding-bottom: 20px !important
}
.pln, .phn, .pan {
	padding-left: 0px !important
}
.pls, .phs, .pas {
	padding-left: 5px !important
}
.plm, .phm, .pam {
	padding-left: 10px !important
}
.pll, .phl, .pal {
	padding-left: 20px !important
}
.mtn, .mvn, .man {
	margin-top: 0px !important
}
.mts, .mvs, .mas {
	margin-top: 5px !important
}
.mtm, .mvm, .mam {
	margin-top: 10px !important
}
.mtl, .mvl, .mal {
	margin-top: 20px !important
}
.mrn, .mhn, .man {
	margin-right: 0px !important
}
.mrs, .mhs, .mas {
	margin-right: 5px !important
}
.mrm, .mhm, .mam {
	margin-right: 10px !important
}
.mrl, .mhl, .mal {
	margin-right: 20px !important
}
.mbn, .mvn, .man {
	margin-bottom: 0px !important
}
.mbs, .mvs, .mas {
	margin-bottom: 5px !important
}
.mbm, .mvm, .mam {
	margin-bottom: 10px !important
}
.mbl, .mvl, .mal {
	margin-bottom: 20px !important
}
.mln, .mhn, .man {
	margin-left: 0px !important
}
.mls, .mhs, .mas {
	margin-left: 5px !important
}
.mlm, .mhm, .mam {
	margin-left: 10px !important
}
.mll, .mhl, .mal {
	margin-left: 20px !important
}
/*content*/
/* ====== text-align ====== */
.text_l {
	text-align: left;
}
.text_c {
	text-align: -moz-center;
	text-align: -webkit-center;
	text-align: center !important;
}
.text_r {
	text-align: right;
	text-align: -moz-right;
	text-align: -webkit-right;
}
/* ====== Display ======*/
.block {
	display: block;
}
.inline {
	display: inline;
}
.inl-blk {
	display: inline-block;
}
.none {
	display: none !important;
}
.hidden {
	overflow: hidden;
}
.scroll {
	overflow: scroll;
}
.nowrap {
	white-space: nowrap;
}
.pre-wrap {
	white-space: pre-wrap;
}
.break-word {
	word-wrap: break-word;
}
.default {
	cursor: default;
}
/* ====== floats + clear ===== */
.fl_l {
	float: left;
}
.fl_r {
	float: right;
}
.fl_n {
	float: none;
}
.cl {
* zoom: 1;
	clear: both;
}
.h_auto {
	height: auto !important;
}
.radius-none {
	border-radius: 0px;
}
/*=== Begin: Vailidation ===*/
.input-group-addon.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
	border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
}
.input-group-addon.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
	border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
}
/*=== End: Vailidation ===*/

/*=== Begin: Fancy ===*/
body {
	position: relative;
	overflow-x: hidden;
}
body, html {
	height: 100%;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-left: 220px;
}
#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 #sidebar-wrapper::-webkit-scrollbar {
 display: none;
}
#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}
#page-content-wrapper {
	width: 100%;
	padding-top: 60px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	position: relative;
	line-height: 20px;
	display: inline-block;
	width: 100%;
}
.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}
.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
	background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
	background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
	background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
	background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
	background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
	background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
	background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
	background-color: #35acdf;
}
.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}
.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 20px;
	z-index: 999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
	border: none;
}
.hamburger:hover, .hamburger:focus, .hamburger:active {
	outline: none;
}
.hamburger.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
	background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
	top: 5px;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
	bottom: 5px;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
	top: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
	bottom: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
	background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}
.hamburger.is-open .hamb-middle {
	display: none;
}
.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}
.hamburger.is-open:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all .35s ease-in-out;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250,250,250,.8);
	z-index: 1;
}
/*=== End: Fancy ===*/

/* BEGIN: "Loading button effect (no JS)" */
.f_load {
display:none;
}
@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}
/* END: "Loading button effect (no JS)" */

.wMaxUnset {
    max-width:none;
}